In [6]:
import sys
from os.path import isfile

import numpy as np
import pandas as pd
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt

# from matplotlib import pyplot as plt
from sklearn.metrics import confusion_matrix

In [7]:
file_df_raw = "./data/sn_data.parquet"
df_raw = pd.read_parquet(file_df_raw)

In [8]:
df_raw.head()

,SN Subtype,SN Subtype ID,SN Maintype,SN Maintype ID,Spectral Phase,2501.69,2505.08,2508.48,2511.87,2515.28,...,9872.21,9885.59,9898.98,9912.39,9925.82,9939.27,9952.73,9966.21,9979.71,9993.24
SN Name,,,,,,,,,,,,,,,,,,,,,
sn2008ar,Ia-norm,0,Ia,0,-8.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sn2008ar,Ia-norm,0,Ia,0,-7.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sn2008ar,Ia-norm,0,Ia,0,-6.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sn2008ar,Ia-norm,0,Ia,0,-4.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sn2008ar,Ia-norm,0,Ia,0,-3.7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df_raw.describe()

,SN Subtype ID,SN Maintype ID,Spectral Phase,2501.69,2505.08,2508.48,2511.87,2515.28,2518.69,2522.1,...,9872.21,9885.59,9898.98,9912.39,9925.82,9939.27,9952.73,9966.21,9979.71,9993.24
count,5001.000000,5001.000000,5001.000000,5001.0,5001.0,5.001000e+03,5001.000000,5001.000000,5001.000000,5001.000000,...,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.000000,5001.00000,5001.000000,5001.0,5001.0
mean,3.993201,0.655069,36.539334,0.0,0.0,7.998400e-07,0.000005,0.000010,0.000007,0.000019,...,0.000008,0.000093,0.000039,0.000055,0.000027,0.000024,0.00001,0.000005,0.0,0.0
std,5.162127,1.024109,88.017382,0.0,0.0,2.827296e-05,0.000130,0.000244,0.000330,0.000641,...,0.005317,0.004881,0.003690,0.002672,0.001601,0.001002,0.00043,0.000113,0.0,0.0
min,0.000000,0.000000,-82.700000,0.0,0.0,0.000000e+00,-0.002000,-0.003000,-0.008000,-0.005000,...,-0.059000,-0.038000,-0.059000,-0.021000,-0.012000,-0.008000,-0.00300,-0.001000,0.0,0.0
25%,0.000000,0.000000,-0.200000,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.0
50%,1.000000,0.000000,11.900000,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.0
75%,8.000000,1.000000,36.100000,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,0.0
max,16.000000,3.000000,1103.000000,0.0,0.0,1.000000e-03,0.004000,0.009000,0.015000,0.025000,...,0.107000,0.153000,0.071000,0.052000,0.036000,0.022000,0.00900,0.002000,0.0,0.0

the data is stored in a somewhat bizzarro way, with the wavelength as the column name and the row as the SN

In [10]:
wavelength = np.array([float(c) for c in df_raw.columns[5:]])

In [11]:
wavelength.shape

(1024,)

In [12]:
df_raw.loc[(df_raw.index == "sn2008ar") * (df_raw["Spectral Phase"] == -2.7)]

,SN Subtype,SN Subtype ID,SN Maintype,SN Maintype ID,Spectral Phase,2501.69,2505.08,2508.48,2511.87,2515.28,...,9872.21,9885.59,9898.98,9912.39,9925.82,9939.27,9952.73,9966.21,9979.71,9993.24
SN Name,,,,,,,,,,,,,,,,,,,,,
sn2008ar,Ia-norm,0,Ia,0,-2.7,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
plt.plot(wavelength, df_raw.loc[(df_raw.index == "sn2008ar") * (df_raw["Spectral Phase"] == -2.7)].iloc[:, 5:].values[0])

# Explore data:

is there padding? invalid data, spurious entries?

### unique SN

In [14]:
print('Number of SNs:', len(df_raw.index.categories))

Number of SNs: 518

### unique SN subtypes

In [15]:
print('SN subtypes:', df_raw['SN Subtype'].unique())

SN subtypes: ['Ia-norm', 'Ia-91T', 'Ia-csm', 'Ia-91bg', 'Ib-norm', ..., 'Ic-broad', 'Ic-pec', 'IIn', 'Ibn', 'Ib-pec']
Length: 17
Categories (17, object): ['II-pec', 'IIL', 'IIP', 'IIb', ..., 'Ibn', 'Ic-broad', 'Ic-norm', 'Ic-pec']

In [16]:
subtypes  = df_raw['SN Subtype'].unique()
subtypes_ID = df_raw['SN Subtype ID'].unique()

for subtype, subtype_ID in zip(subtypes, subtypes_ID):
  print(subtype, subtype_ID)

Ia-norm 0
Ia-91T 1
Ia-csm 3
Ia-91bg 2
Ib-norm 6
Iax 4
Ia-pec 5
Ic-norm 10
IIP 13
IIL 14
IIb 8
II-pec 16
Ic-broad 11
Ic-pec 12
IIn 15
Ibn 7
Ib-pec 9

### unique SN main types

In [17]:
types = df_raw['SN Maintype'].unique()
types_ID = df_raw['SN Maintype ID'].unique()

for type, type_ID in zip(types, types_ID):
  print(type, type_ID)
print('Number of SN types:', len(types))
print('types:', list(types))

Ia 0
Ib 1
Ic 2
II 3
Number of SN types: 4
types: ['Ia', 'Ib', 'Ic', 'II']

In [ ]:
# I want the name to be on the first column, reset index
df_raw = df_raw.reset_index()

### How many SNs of each type

In [ ]:
grouped = df_raw.groupby(['SN Maintype', 'SN Name'], observed=True)['SN Name'].value_counts()

In [ ]:
grouped.groupby(level=0, observed=True).count()

SN Maintype
II     11
Ia    414
Ib     46
Ic     47
Name: count, dtype: int64

In [ ]:
grouped.index.levels[0].values

['II', 'Ia', 'Ib', 'Ic']
Categories (4, object): ['II', 'Ia', 'Ib', 'Ic']

### Typical series length (in time)

In [ ]:
df_raw.groupby('SN Maintype', observed=True)['SN Maintype'].value_counts()

SN Maintype
II     494
Ia    3288
Ib     644
Ic     575
Name: count, dtype: int64

In [ ]:
# group by object and calculate the typical series length
df_raw.groupby('SN Name', observed=True)['SN Name'].value_counts().sort_values(ascending=False)

SN Name
sn1987A       241
sn1993J        73
sn2005cf       67
sn2003du       60
sn1998S        57
             ...
sn06cs          1
sn06cz          1
sn2009nz        1
sn99gd          1
snls03D3bb      1
Name: count, Length: 518, dtype: int64

In [ ]:
df_raw.groupby('SN Name', observed=True)['SN Name'].value_counts().sort_values(ascending=False).mean()

np.float64(9.654440154440154)

In [ ]:
# group by object and calculate the typical series length
series_length = (df_raw.groupby('SN Name', observed=True)['Spectral Phase'].max()-df_raw.groupby('SN Name', observed=True)['Spectral Phase'].min()).sort_values(ascending=False).mean()

print('Typical series length is:', series_length)

Typical series length is: 74.18314092664092

### NaNs?

In [ ]:
df_raw.isna().sum().max()

np.int64(0)

In [ ]:
print('number of nans:', df_raw.isna().sum().max())

number of nans: 0

In [ ]:
df_raw.head()

,SN Name,SN Subtype,SN Subtype ID,SN Maintype,SN Maintype ID,Spectral Phase,2501.69,2505.08,2508.48,2511.87,...,9872.21,9885.59,9898.98,9912.39,9925.82,9939.27,9952.73,9966.21,9979.71,9993.24
0,sn2008ar,Ia-norm,0,Ia,0,-8.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,sn2008ar,Ia-norm,0,Ia,0,-7.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,sn2008ar,Ia-norm,0,Ia,0,-6.6,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,sn2008ar,Ia-norm,0,Ia,0,-4.6,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,sn2008ar,Ia-norm,0,Ia,0,-3.7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
sn2008ar = df_raw.loc[df_raw['SN Name'] == "sn2008ar"]
sn2008ar.shape

(18, 1030)

### Wavelength span

In [ ]:
print(wavelength.min(), wavelength.mean(), wavelength.max())

2501.69 5410.10734375 9993.24

In [ ]:
# usar 2500 a 10000
xlim = [2500, 10000]

### Flux span

In [ ]:
df_raw.head()

,SN Name,SN Subtype,SN Subtype ID,SN Maintype,SN Maintype ID,Spectral Phase,2501.69,2505.08,2508.48,2511.87,...,9872.21,9885.59,9898.98,9912.39,9925.82,9939.27,9952.73,9966.21,9979.71,9993.24
0,sn2008ar,Ia-norm,0,Ia,0,-8.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,sn2008ar,Ia-norm,0,Ia,0,-7.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,sn2008ar,Ia-norm,0,Ia,0,-6.6,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,sn2008ar,Ia-norm,0,Ia,0,-4.6,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,sn2008ar,Ia-norm,0,Ia,0,-3.7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
print(df_raw.iloc[:,6:].mean().mean(), 3*df_raw.iloc[:,6:].std().std())

-0.00026101225067486555 6.807673554040658

In [ ]:
# which rows have the max flux value?
print(df_raw.iloc[:,6:].max().max())
# which row is that?
print(df_raw.iloc[:,6:].max().idxmax())

2071.001
3301.9

In [ ]:
df_raw.loc[df_raw['3301.9'] == 2071.001]

,SN Name,SN Subtype,SN Subtype ID,SN Maintype,SN Maintype ID,Spectral Phase,2501.69,2505.08,2508.48,2511.87,...,9872.21,9885.59,9898.98,9912.39,9925.82,9939.27,9952.73,9966.21,9979.71,9993.24
4631,iPTF13bvn,Ib-norm,6,Ib,1,-12.7,0.0,0.0,0.0,0.0,...,-0.053,-0.014,-0.027,-0.015,-0.003,-0.001,-0.001,0.0,0.0,0.0

In [ ]:
plt.plot(wavelength, df_raw.loc[df_raw['3301.9'] == 2071.001].values[0,6:])
#plt.xlim(3000,4000)

In [ ]:
# remove that row
df_ = df_raw.drop(df_raw.loc[df_raw['3301.9'] == 2071.001].index)

In [ ]:
print(df_.iloc[:,6:].mean().mean(), df_.iloc[:,6:].std().std())

0.002066028124999999 0.12497102525820329

In [ ]:
df_.iloc[:,6:].max().sort_values(ascending=False)[0:20]

4190.28    56.627
3537.93    54.727
4581.92    52.980
4195.95    47.553
4230.18    25.877
4600.57    22.404
3490.35    18.620
3664.68    16.329
4465.56    16.155
3315.34    15.685
4224.45    15.136
3576.45    13.940
4201.64    13.885
4207.33    13.239
4501.98    12.962
4001.77    12.358
3926.64    11.342
3709.6     11.026
3894.87    10.832
3297.43    10.656
dtype: float64

In [ ]:
print(df_.iloc[:,6:].min().min(), df_.iloc[:,6:].max().max())

-17.943 56.627

### Standarize in Y axis

In [ ]:
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler

In [ ]:
fig, ax = plt.subplots(1, 3, figsize=(15, 5))
ax[0].plot(wavelength, df_.iloc[0].values[6:])
ax[1].plot(wavelength, df_.iloc[1000].values[6:])
ax[2].plot(wavelength, df_.iloc[2000].values[6:])

In [ ]:
# how to standarize?
# min max scaling (daniel)

$y_{scaled} = \frac{y-y_{min}}{y_{max}-y_{min}}$

In [ ]:
minmax_scaler = MinMaxScaler(feature_range = (0,1))
robust_scaler = RobustScaler()
standard_scaler = StandardScaler()

In [ ]:
scalings = {}
# minmax
scalings['minmax'] = minmax_scaler.fit_transform(df_.iloc[:,6:].transpose()).transpose()
# standard
scalings['standard'] = standard_scaler.fit_transform(df_.iloc[:,6:].transpose()).transpose()
# robust
scalings['robust'] = robust_scaler.fit_transform(df_.iloc[:,6:].transpose()).transpose()

In [ ]:
scalings['standard'].shape

(5000, 1024)

In [ ]:
for i, k in enumerate(scalings.keys()):
  print(i,k)

0 minmax
1 standard
2 robust

In [ ]:
fig, ax = plt.subplots(3, 3, figsize=(15, 10))
for i, keys in enumerate(scalings.keys()):
  ax[i,0].plot(wavelength, scalings[keys][0], label=keys)
  ax[i,1].plot(wavelength, scalings[keys][1000], label=keys)
  ax[i,2].plot(wavelength, scalings[keys][2000], label=keys)
  ax[i,0].legend()
ax[0,1].set_title('Scaling estrategies comparision for 3 spectrums')

Text(0.5, 1.0, 'Scaling estrategies comparision for 3 spectrums')

In [ ]:
# lets use minmax scaling
df_.iloc[:,6:] = scalings['minmax']

In [ ]:
for i in range(18):
  plt.figure()
  plt.plot(wavelength, df_.iloc[:,6:].values[i], lw=0.4, ls='-', color='k',
           label='Spectral Phase:'+str(df_['Spectral Phase'].iloc[i]))
  plt.legend()

/tmp/ipykernel_517540/2966110088.py:2: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`). Consider using `matplotlib.pyplot.close()`.
  plt.figure()

### Flux span now?

In [ ]:
# mean of mean of fluxes
print(df_.iloc[:,6:].mean().mean())
# mean of std of fluxes
print(df_.iloc[:,6:].std().mean())

0.44939688173721637
0.15765526341735236

In [ ]:
# which rows have the max flux value?
print(df_.iloc[:,6:].max().max())
print(df_.iloc[:,6:].min().min())
# which row is that?
print(df_.iloc[:,6:].max().idxmax())
# wavelength range
print(wavelength.min(), wavelength.max())

1.0000000000000002
0.0
2739.22
2501.69 9993.24

### Saving plots

In [ ]:
# DANIEL
# For training, I used the base CLIP or ViT model with a resolution of 224x224 pixels
# and created images with a figure size of 2.24 x 2.24 inches at 100 dpi.

In [ ]:
# my_dpi = 260
# fig, ax = plt.subplots(figsize=(224/my_dpi,224/my_dpi), dpi=my_dpi)
# ax.plot(wavelength, df_.iloc[0,6:].values, lw=0.3, ls='-', color='k', alpha=1)
# ax.axis('off')
# ax.set_box_aspect(1)
# ax.set_xlim(xlim[0], xlim[1])
# ax.set_ylim(0,1)
# plt.savefig('sn2008ar.png', bbox_inches='tight', dpi=my_dpi)
# plt.show()

In [ ]:
df_.iloc[0,0]

'sn2008ar'

In [ ]:
# save at 100 dpi and 224x224 pixels
my_dpi = 100
fig, ax = plt.subplots(figsize=(2.65,2.65), dpi=my_dpi)
ax.plot(wavelength, df_.iloc[0,6:].values, lw=1, ls='-', color='k', alpha=1)
ax.axis('off')
ax.set_xlim(xlim[0], xlim[1])
ax.set_ylim(0,1)
ax.set_box_aspect(1)
plt.savefig('asd.png', bbox_inches='tight', dpi=my_dpi)
plt.show()

/tmp/ipykernel_517540/3407407095.py:10: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [ ]:
# which info to save?
keys = df_.columns[0:7]
keys

Index(['SN Name', 'SN Subtype', 'SN Subtype ID', 'SN Maintype',
       'SN Maintype ID', 'Spectral Phase', '2501.69'],
      dtype='object')

In [ ]:
# we need SN name, SN Subtype ID, SN Maintype ID, Spectral Phase: 0, 2, 4, 5

In [ ]:
xlim

[2500, 10000]

In [ ]:
df_.shape

(5000, 1030)

In [ ]:
# save all plots in a folder
my_dpi = 100
for i in range(1000):
  fig, ax = plt.subplots(figsize=(2.65,2.65), dpi=my_dpi)
  ax.plot(wavelength, df_.iloc[i,6:].values, lw=1, ls='-', color='k', alpha=1)
  ax.axis('off')
  ax.set_xlim(xlim[0], xlim[1])
  ax.set_ylim(0,1)
  ax.set_box_aspect(1)
  plt.savefig('./images/'+df_.iloc[i,0]+'_'+str(df_.iloc[i,2])+'_'+str(df_.iloc[i,4])+'_'+str(df_.iloc[i,5])+'_'+str(i)+'.png',
              bbox_inches='tight', dpi=my_dpi)

In [ ]:
# save all plots in a folder
my_dpi = 100
for i in range(1000,2000):
  fig, ax = plt.subplots(figsize=(2.65,2.65), dpi=my_dpi)
  ax.plot(wavelength, df_.iloc[i,6:].values, lw=1, ls='-', color='k', alpha=1)
  ax.axis('off')
  ax.set_xlim(xlim[0], xlim[1])
  ax.set_ylim(0,1)
  ax.set_box_aspect(1)
  plt.savefig('./images/'+df_.iloc[i,0]+'_'+str(df_.iloc[i,2])+'_'+str(df_.iloc[i,4])+'_'+str(df_.iloc[i,5])+'_'+str(i)+'.png',
              bbox_inches='tight', dpi=my_dpi)

In [ ]:
# save all plots in a folder
my_dpi = 100
for i in range(2000,3000):
  fig, ax = plt.subplots(figsize=(2.65,2.65), dpi=my_dpi)
  ax.plot(wavelength, df_.iloc[i,6:].values, lw=1, ls='-', color='k', alpha=1)
  ax.axis('off')
  ax.set_xlim(xlim[0], xlim[1])
  ax.set_ylim(0,1)
  ax.set_box_aspect(1)
  plt.savefig('./images/'+df_.iloc[i,0]+'_'+str(df_.iloc[i,2])+'_'+str(df_.iloc[i,4])+'_'+str(df_.iloc[i,5])+'_'+str(i)+'.png',
              bbox_inches='tight', dpi=my_dpi)

In [ ]:
# save all plots in a folder
my_dpi = 100
for i in range(3000,4000):
  fig, ax = plt.subplots(figsize=(2.65,2.65), dpi=my_dpi)
  ax.plot(wavelength, df_.iloc[i,6:].values, lw=1, ls='-', color='k', alpha=1)
  ax.axis('off')
  ax.set_xlim(xlim[0], xlim[1])
  ax.set_ylim(0,1)
  ax.set_box_aspect(1)
  plt.savefig('./images/'+df_.iloc[i,0]+'_'+str(df_.iloc[i,2])+'_'+str(df_.iloc[i,4])+'_'+str(df_.iloc[i,5])+'_'+str(i)+'.png',
              bbox_inches='tight', dpi=my_dpi)

In [ ]:
# save all plots in a folder
my_dpi = 100
for i in range(4000,5000):
  fig, ax = plt.subplots(figsize=(2.65,2.65), dpi=my_dpi)
  ax.plot(wavelength, df_.iloc[i,6:].values, lw=1, ls='-', color='k', alpha=1)
  ax.axis('off')
  ax.set_xlim(xlim[0], xlim[1])
  ax.set_ylim(0,1)
  ax.set_box_aspect(1)
  plt.savefig('./images/'+df_.iloc[i,0]+'_'+str(df_.iloc[i,2])+'_'+str(df_.iloc[i,4])+'_'+str(df_.iloc[i,5])+'_'+str(i)+'.png',
              bbox_inches='tight', dpi=my_dpi)

: